.task-list-item{
    .row{
        margin: 0;
        padding: 4px;

        .no-padding{
            padding: 0;
        }

        &.no-padding{
            padding: 0;
        }
    }

    .name{
        padding-left: 0;
        margin-top: 4px;
        .clickable {
            margin-right: 5px;
        }
    }
    
    .details{
        font-size: 90%;
        padding-right: 0;
        margin-top: 7px;

        i{
            margin-left: 16px;
            &:first-child{
                margin-left: 4px;
            }
        }
    }
    
    .status-label{
        padding: 4px;
        padding-left: 8px;
        width: 100%;
        font-size: 90%;
        border-style: solid;
        border-width: 1px;
        border-radius: 2px;

        @media screen and (max-width: 768px){
            margin-top: 5px;
        }
    }

    .clickable:hover{
        cursor: pointer;
    }

    .expanded-panel{
        padding-top: 4px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;

        .info-table {
            tr td:first-child {
                width: 33%;
                max-width: 150px;
            }
            td{
                padding: 0;
            }
            margin-bottom: 12px;
        }

        .task-warning{
            margin-top: 16px;
            margin-bottom: 16px;

            i.fa.fa-warning{
                color: #ff8000;
            }
            span, div{
                font-size: 13px;
            }
            div.inline{
                display: inline;
            }
            ul{
                margin: 8px 0;
            }
        }

        .action-buttons{
            button{
                margin-right: 4px;
            }

            .btn-group{
                button:first-child{
                    margin-right: 0;
                }
            }

            .edit-button{
                margin-right: 0px;
            }

            .asset-download-buttons{
                margin-right: 4px;
            }
        }
    }

    .inline-block{
        display: inline-block;
    }

    .inline{
        display: inline;
    }

    .mb{
        margin-bottom: 12px;
    }
}